@CHARSET "UTF-8";

.main-item {
	margin-bottom: 20px;
}

.layui-elem-quote {
	padding: 0 8px;
	line-height: 28px;
	border-left: 2px solid #88B7E0;
}

.fnitem {
	width: 140px;
}

.layui-form-label {
	width: 120px;
}

.layui-input-block {
	margin-left: 150px;
	min-height: 36px;
}

.overview-item {
	border: 1px solid #eee;
	text-align: center;
}

.overview-item-title {
	background: #F9F9F9;
	line-height: 35px;
}

.overview-item-content {
	padding: 5px 0;
}

.overview-item-content-count {
	font-size: 20px;
	font-family: PingFangSC-Light monospace;
	line-height: 38px;
}

.a-link:HOVER {
	text-decoration: underline;
}

.servershow-item {
	border: 1px solid #eee;
	text-align: center;
}

.servershow-item {
	/* padding-left: 0;
	border: 1px solid #eee; */
	border: 1px solid #eee;
	text-align: center;
}

.servershow-item-title {
	background: #f9f9f9;
	height: 36px;
	line-height: 36px;
	padding-left: 10px;
}

.servershow-item-title a {
	color: #0066D5;
}

.servershow-item-content {
	
}

.servershow-item-content-left {
	padding-top: 10px;
}

.line-vertical {
	float: left;
	height: 110px;
	border: 1px dashed #f0f0f5;
}

.line-horizon {
	float: left;
	width: 100%;
	margin-bottom: 14px;
	border: 1px dashed #f0f0f5;
}

.servershow {
	
}

.servershow-item-content-left .item {
	line-height: 40px;
	font-size: 12px;
}

.servershow-item-content-left .item span {
	font-weight: bold;
}

.servershow-item-content-right {
	height: 100%;
	padding-top: 10px;
}

.servershow-item-content-right li {
	text-align: center;
	line-height: 25px;
	padding-left: 16px;
	color: red;
}

.servershow-item-content-right li a {
	color: #5881AF;
}

.servershow-item-action {
	border-top: 1px dashed #f0f0f5;
	line-height: 36px;
}

.servershow-item-action div:hover { /* background: #f9f9f9; */
	background: #eee;
	cursor: pointer;
}