body {
	font-size: 12px;
	color: #666;
	background: #fff;
	-webkit-font-smoothing: antialiased
}

.center {
	text-align: center
}

.radius {
	border-radius: 3px
}

@font-face {
	font-family: "font";
	src: url('../../font/iconfont.eot?t=1470970698');
	src: url('../../font/iconfont.eot?t=1470970698#iefix')
		format('embedded-opentype'),
		url('../../font/iconfont.woff?t=1470970698') format('woff'),
		url('../../font/iconfont.ttf?t=1470970698') format('truetype'),
		url('../../font/iconfont.svg?t=1470970698#iconfont') format('svg')
}

.iconfont {
	font-family: "font" !important;
	font-size: 12px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.api-assort {
	padding: 30px 0 15px;
	border-bottom: 1px dashed #e0e0e0
}

.api-assort .all-assort {
	line-height: 26px;
	padding-bottom: 5px;
	color: #666;
	font-size: 12px
}

.api-assort .all-assort strong {
	float: left;
	width: 58px;
	padding: 0 0 10px 10px;
	background: url("../../images/front/dianicon.png") 0 10px no-repeat
}

.api-assort .all-assort .api-nav-div {
	float: left;
	width: 1100px
}

.api-assort .all-assort .api-nav-div span {
	padding-left: 7px;
	padding-bottom: 10px;
	display: inline-block
}

.api-assort .all-assort .api-nav-div a {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	border: 1px solid #e0e0e0;
	border-radius: 13px;
	padding: 0 10px;
	color: #666
}

.api-assort .all-assort .api-nav-div a:hover {
	color: #00aeff;
	border-color: #00aeff
}

.api-assort .all-assort .active a {
	border-color: #00aeff;
	background: #00aeff;
	color: #fff
}

.api-assort .all-assort .active a:hover {
	color: #fff
}

.api-list-ul {
	padding-top: 30px;
	padding-bottom: 20px
}

.api-list-li {
	float: left;
	padding-bottom: 24px;
	background: #fff
}

.api-list-li .api-list-content {
	position: relative;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	transition: all 0.3s ease-out;
	-webkit-transition: all 0.3s ease-out
}

.api-list-li .api-list-content:hover {
	box-shadow: 1px 1px 5px 0 rgba(12, 4, 7, 0.12)
}

.api-list-li .list-top {
	position: relative;
	height: 130px;
	overflow: hidden
}

.api-list-li .list-top a {
	color: #bbb;
	font-size: 12px
}

.api-list-li .list-middle {
	text-align: center;
	padding: 14px 0;
	height: 40px;
	border-bottom: 1px solid #eee;
	background: #f8f8f8;
	overflow: hidden
}

.api-list-li .list-middle a {
	color: #666
}

.api-list-li .list-middle .price {
	height: 20px;
	line-height: 20px;
	font-size: 14px
}

.api-list-li .list-middle .other-price {
	line-height: 40px;
	font-size: 14px
}

.api-list-li .list-middle .price-des {
	height: 20px;
	line-height: 20px;
	color: #bbb;
	font-size: 12px
}

.api-list-li .list-bottom {
	height: 40px
}

.api-list-li .list-bottom a {
	float: left;
	color: #bbb;
	height: 26px;
	line-height: 26px;
	padding: 7px 0;
	text-align: center
}

.api-list-li .list-bottom #favit {
	float: left
}

.api-list-li .list-bottom #favit span {
	display: inline-block;
	width: 22px
}

.api-list-li .list-bottom #favit.unfavit span {
	background: url('../../images/front/spritebox.png') -362px -324px
		no-repeat
}

.api-list-li .list-bottom #favit.favit span {
	background: url('../../images/front/spritebox.png') -362px -292px
		no-repeat
}

.api-list-li .list-bottom .apply-use {
	border-left: 1px solid #e0e0e0;
	font-weight: 700;
	font-size: 14px;
	color: #00aeff
}

.api-list-li .list-bottom .apply-use:hover {
	opacity: 0.8;
	filter: alpha(opacity = 80)
}

.api-search {
	padding-top: 10px;
	height: 20px;
	line-height: 20px;
	font-size: 18px;
	color: #666
}

.api-search i {
	font-size: 20px;
	color: #999;
	padding-right: 3px;
	display: inline-block;
	width: 20px
}

.api-search b {
	color: #00aeff;
	padding: 0 4px
}

@media only screen and (max-width: 1601px) {
	.api-list-li {
		padding-left: 20px;
		height: 240px;
		width: 224px
	}
	.api-list-li .api-list-content {
		height: 238px;
		width: 222px
	}
	.api-list-li:nth-of-type(5n+1) {
		padding-left: 0
	}
	.list-top a {
		display: block;
		padding: 10px 15px;
		text-align: center
	}
	.list-top a img {
		height: 80px;
		width: 80px;
		margin: 0 auto
	}
	.list-top a .list-title {
		padding-left: 15px;
		overflow: hidden
	}
	.list-top a .list-title h2 {
		color: #666;
		font-size: 16px;
		line-height: 26px;
		height: 26px;
		padding-top: 4px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis
	}
	.list-top a .list-title p {
		display: none
	}
	.list-bottom #favit {
		width: 100px
	}
	.list-bottom .apply-use {
		width: 120px
	}
}

@media only screen and (min-width: 1602px) {
	.api-list-li {
		padding-left: 24px;
		height: 240px;
		width: 282px
	}
	.api-list-li .api-list-content {
		height: 238px;
		width: 280px
	}
	.api-list-li:nth-of-type(4n+1) {
		padding-left: 0
	}
	.list-top a {
		display: block;
		padding: 25px 15px
	}
	.list-top a img {
		float: left;
		height: 80px;
		width: 80px
	}
	.list-top a .list-title {
		float: left;
		padding-left: 15px;
		height: 80px;
		width: 152px;
		overflow: hidden
	}
	.list-top a .list-title h2 {
		color: #666;
		font-size: 16px;
		line-height: 30px;
		height: 30px;
		padding-top: 5px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis
	}
	.list-top a .list-title p {
		line-height: 18px;
		height: 36px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		word-break: break-all
	}
	.list-bottom #favit {
		width: 100px
	}
	.list-bottom .apply-use {
		width: 178px
	}
}

.no-result-api {
	padding: 90px 0;
	text-align: center;
	font-size: 16px;
	line-height: 40px
}

.no-result-api p {
	padding: 8px
}

.juheapi_paging {
	text-align: center;
	height: 30px;
	line-height: 30px
}

.juheapi_paging .juheapi_prev,.juheapi_paging .juheapi_next {
	font-weight: 400;
	padding: 0 25px;
	color: #00aeff
}

.juheapi_paging a {
	font-weight: 700;
	font-size: 14px;
	color: #777;
	padding: 1px 5px;
	height: 20px;
	margin: 0 4px
}

.juheapi_paging .pageSel {
	background: #fff;
	color: #02afff;
	border: 2px solid #02afff;
	border-radius: 50%
}

.juheapi_paging span {
	position: relative;
	top: -4px;
	color: #777;
	font-weight: 700;
	margin: 0 10px
}

.juheapi_paging a em {
	position: relative;
	font-size: 16px
}